<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.museaapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_musea_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_musea_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuseaApplication">
        <activity android:name=".ui.favourite.FavouriteMus"></activity>
        <activity android:name=".ui.visited.scannerView" />
        <activity android:name=".ui.visited.VisitedMus" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.edit.edit_user" />
        <activity
            android:name=".ui.QuizzActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MuseaLoginSignup" />
        <activity
            android:name=".ui.MuseuActivity"
            android:theme="@style/Theme.MuseuActTheme"
            android:screenOrientation="portrait">

            <intent-filter android:label="Museums">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.musea.com"
                    android:pathPrefix="/museums"/>
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InitialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MuseaLoginSignup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBV6anl82OMdRRvr9TASOWv3DV5HFahDWs" />
    </application>

</manifest>